.btn
  display: inline-block
  text-align: center
  font-weight: 400
  cursor: pointer
  flex-shrink: 0
  padding: 0 30px
  text-decoration: none !important
  transition: all 0.2s ease-out
  outline: none
  font-size: 14px
  @extend %font-base
  +trans()
  &.btn--fluid
    width: 100%
  &.btn--outline
    border-radius: 4px
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3)
    background-color: transparent
    text-transform: uppercase
    border: 2px solid $brand
    font-weight: 700
    letter-spacing: 1.07px
    color: #fff
    position: relative
    &:hover
      border-color: #32cee3
    &:after
      content: ''
      +chevron(8px, 2px, r, #fff)
      transform: rotate(45deg)
      margin-left: 5px
    &.btn--medium
      line-height: 46px !important
  &.btn--primary
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3)
    border-radius: 5px
    background-image: linear-gradient(to right, $brand 0%, #32cee3 100%)
    border: none
    text-transform: uppercase
    font-weight: 700
    letter-spacing: 1.07px
    color: #fff
    position: relative
    z-index: 0
    &:before
      transition: all 0.5s ease-out
      content: ''
      z-index: -1
      border-radius: 4px
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      background-image: linear-gradient(to right, #32cee3 0%, $brand 100%)
      opacity: 0
    &:hover
      box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.4)
      &:before
        opacity: 1
    &:disabled
      background-color: #d2dbe0

.btn--outline-txt
  position: relative
  z-index: 6
  border-radius: 4px
  font-size: 13px
  font-weight: 700
  line-height: 20px
  letter-spacing: 1.04px
  color: $black2

.btn--large
  line-height: 60px !important
  font-size: 15px !important
  padding: 0 20px !important
  +respond-to(md)
    font-size: 13px !important

.btn--medium
  line-height: 50px !important
  font-size: 13px !important
  padding: 0 20px !important

