.modal__close-btn
  width: 20px
  height: 20px
  position: absolute
  top: 15px
  right: 15px
  cursor: pointer
  background-size: 15px
  z-index: 200
  display: flex
  align-items: center
  justify-content: center
  +respond-to(md)
    top: -21px
    right: 12px

.modal-callback
  .fin-mess
    color: $text-primary

.uk-modal
  background-color: rgba(25, 36, 64, 0.75)

.mobile-form
  position: fixed
  top: 0
  transform: translateZ(0)
  bottom: 0
  right: 0
  overflow-y: scroll
  left: 0
  background-color: #f0f3f5
  z-index: 100
  display: none

.mobile-form__contain
  padding: 70px 20px 45px 20px
  margin-left: auto
  margin-right: auto
  max-width: 750px
  +respond-to(md)
    padding-top: 20px

.logo.mobile-form__logo
  width: 161px
  height: 20px

.mobile-form__head
  box-shadow: inset 0 -1px 0 #d2dbe0
  background-color: #ffffff
  height: 90px
  display: flex
  align-items: center
  padding: 0 20px
  position: fixed
  top: 0
  z-index: 110
  width: 100%
  &.mobile-form__head--abs
    position: absolute //wddd
    top: 0
  +respond-to(lg)
    height: 70px
  +respond-to(md)
    height: 60px

.modal__inner
  display: inline-block
  vertical-align: middle

.modal__dialog-cost
  vertical-align: middle
  display: inline-block
  width: 0

.mobile-form__title
  font-size: 32px
  line-height: 40px

.mobile-form__inner
  padding-top: 60px

.mobile-form__inner-outer
  margin-top: 23px

.modal-form__submit-btn
  width: 100%

.modal-form__submit
  width: 100%
  margin-top: 27px

.modal-form__block
  &:not(:last-child)
    margin-bottom: 23px

.modal-txt
  color: #fff
  font-size: 18px
  font-weight: 400
  line-height: 1.4em
  text-transform: uppercase

.modal-form__notify
  color: #8ba4b0
  @extend %font-sub
  font-size: 13px
  margin-top: 23px
  line-height: 20px
  a
    color: #8ba4b0
    text-decoration: underline
    &:hover
      text-decoration: none