<div id="modal" class="modal">
    <div class="modal__inner">
        <div class="modal__overlay" id="modal-overlay"></div>
        <div class="modal__dialog" id="modal-dialog">
             <span class="modal__close" id="modal-callback-close">
                 <svg class="icon-close modal__icon-close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12.471" height="12.471" viewBox="0 0 12.471 12.471"><defs><path d="M5 5l9.642 9.642" id="a"/><path d="M14.642 5L5 14.642" id="b"/></defs><g transform="translate(-3.586 -3.586)"><use xlink:href="#a" stroke-miterlimit="50" width="100%" height="100%" fill="#fff" fill-opacity="0" stroke="#fff" stroke-width="2" stroke-linecap="square"/><g><use xlink:href="#b" stroke-miterlimit="50" width="100%" height="100%" fill="#fff" fill-opacity="0" stroke="#fff" stroke-width="2" stroke-linecap="square"/></g></g></svg>
            </span>
            <div class="modal__contain">
                <div class="modal-txt effef" id="modal-txt">

                </div>
            </div>
        </div>
    </div>
    <div class="modal__dialog-cost"></div>
</div>