<a href="#" class="product-popular-item">
    <div class="product-popular-item__img">
        <img class="product-popular-item__pic" src="{{ img }}" alt="">
    </div>
    <div class="product-popular-item__info">
        <p class="product-popular-item__title">{{ title }}</p>
        <p class="product-popular-item__descr">{{ descr }}</p>
        <div class="product-popular-item__additional">
            <div class="product-popular-item__price">
                Price:
                <p class="product-popular-item__price-sum">&nbsp;{{ price }}</p>
            </div>
            <div class="product-popular-item__country">
                Country:
                <p class="product-popular-item__country-sum">&nbsp;{{ country }}</p>
            </div>
        </div>
    </div>
</a>