.product-popular-item
  display: flex
  background-color: #f9f9f9
  padding: 5px 15px 5px 15px
  text-decoration: none
  +trans(background)
  &:hover
    background-color: #e2e2e29c


.product-popular-item__img
  width: 55px
  height: 55px

.product-popular-item__pic
  width: 100%
  height: 100%
  object-fit: cover

.cart-drp
  width: 14px
  height: 15px
  border: 2px solid #e7e7e7
  background-color: #ffffff
  position: relative
  border-radius: 100%
  &:before
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border-right: 3px solid transparent
    border-top: 6px solid $brand2
    border-bottom: 0px solid transparent
    border-left: 3px solid transparent

.product-popular-item__descr
  color: #c3c3c3
  font-size: 12px
  margin-top: 3px

.product-popular-item__info
  display: flex
  flex-direction: column
  margin-left: 15px

.product-popular-item__title
  color: $brand
  font-size: 18px
  font-weight: 400
  text-decoration: none

.product-popular-item__price-sum, .product-popular-item__country-sum
  color: $brand2


.product-popular-item__price
  &:after
    content: '|'
    display: block
    margin-left: 14px
    margin-right: 14px

.product-popular-item__additional
  width: 100%
  display: flex
  align-items: center
  color: #c3c3c3
  font-size: 12px
  font-weight: 400
  margin-top: 3px

.product-popular-item__price, .product-popular-item__country
  display: flex
  align-items: center