.cart__dropdown
  position: absolute
  width: 100%
  height: 20%

.cart
  display: flex //wwww

.cart__txt
  color: #b6b6b6
  font-size: 18px
  font-weight: 400
  text-transform: uppercase
  +respond-to(md)
    font-size: 16px

.cart__count
  color: $brand
  font-size: 18px
  font-weight: 400
  text-transform: uppercase
  margin-left: 5px
  +respond-to(md)
    font-size: 16px

.cart__price
  color: $green
  font-size: 18px
  font-weight: 400
  text-transform: uppercase
  margin-left: 8px
  margin-right: 15px
  +respond-to(md)
    font-size: 16px