<div class="pagination {{ outerClass }}">
    <div class="pagination__inner">
        <div class="pagination__list">
            <a href="#" class="pagination__item pagination__item--active">1</a>
            <a href="#" class="pagination__item">2</a>
            <a href="#" class="pagination__item">3</a>
            <a href="#" class="pagination__item">4</a>
            <a href="#" class="pagination__item">5</a>
            <a href="#" class="pagination__item">6</a>
        </div>
    </div>
</div>