.pagination__list
  display: flex

.pagination__inner
  display: flex
  justify-content: center

.pagination__item
  width: 29px
  height: 29px
  color: #8f8f8f
  text-decoration: none
  display: flex
  align-items: center
  justify-content: center
  text-transform: uppercase
  font-weight: bold
  background-color: transparent
  border-radius: 100%
  &:not(:last-child)
    margin-right: 5px
  &.pagination__item--active
    background-color: $green
    color: #fff
