.footer__inner
  @extend %content-width
  display: flex
  justify-content: space-between
  +respond-to(sm)
    justify-content: center ///wdw

.footer
  padding: 34px 0 34px 0

.copyright
  color: #466972
  font-size: 14px
  font-weight: 400

.to-top-link
  color: #466972
  font-size: 14px
  text-decoration: none
  font-weight: 400
  text-transform: uppercase
  +trans(color)
  &:hover
    color: $brand
  +respond-to(sm)
    display: none