<div class="footer" id="footer">
    <div class="footer__inner">
        <p class="copyright footer__copyright">
            © All Rights Reserved - ICEwave Design
        </p>
        <a href="#site-wrapper" class="to-top-link js-scrollScreen" id="to-top-link">GO TO TOP!</a>
    </div>
</div>