.modal
  position: fixed
  top: 0
  bottom: 0
  right: 0
  overflow-y: scroll
  display: none
  left: 0
  padding-top: 15px
  padding-bottom: 15px
  z-index: 999
  width: 100%
  height: 100%
  &.modal--active
    .modal__dialog
      opacity: 1
      +min-respond-to(md)
        transform: translateY(0)

.modal__overlay
  background-color: rgba(25, 36, 64, .75)
  width: 100%
  height: 100%
  z-index: 10
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0

.modal__inner
  position: relative
  margin: auto
  width: 100%
  top: 0
  bottom: 0
  padding-top: 15px
  padding-bottom: 15px
  overflow-y: auto
  right: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center

.modal__contain
  margin-left: auto
  margin-right: auto
  max-width: 523px

.modal__close
  position: absolute
  top: 15px
  right: 15px

.modal__dialog
  width: 100%
  position: relative
  z-index: 100
  max-width: 700px
  padding: 75px 15px
  margin-left: auto
  margin-right: auto
  opacity: 0
  transition: opacity .3s linear, transform .3s ease-out
  background-color: #fff
  +min-respond-to(md)
    transform: translateY(-100px)
  +respond-to(md)
    padding: 60px 15px