@-moz-keyframes pulse
  0%
    -webkit-box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)
    -moz-box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)
    box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)

  50%
    -webkit-box-shadow: 0 0 0 12px rgba(76, 177, 202, 0.2)
    -moz-box-shadow: 0 0 0 12px rgba(76, 177, 202, 0.2)
    box-shadow: 0 0 0 12px rgba(76, 177, 202, 0.2)

  100%
    -webkit-box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)
    -moz-box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)
    box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)



@-webkit-keyframes pulse
  0%
    -webkit-box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)
    -moz-box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)
    box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)

  50%
    -webkit-box-shadow: 0 0 0 12px rgba(76, 177, 202, 0.2)
    -moz-box-shadow: 0 0 0 12px rgba(76, 177, 202, 0.2)
    box-shadow: 0 0 0 12px rgba(76, 177, 202, 0.2)

  100%
    -webkit-box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)
    -moz-box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)
    box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)



@keyframes pulse
  0%
    -webkit-box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)
    -moz-box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)
    box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)

  50%
    -webkit-box-shadow: 0 0 0 12px rgba(76, 177, 202, 0.2)
    -moz-box-shadow: 0 0 0 12px rgba(76, 177, 202, 0.2)
    box-shadow: 0 0 0 12px rgba(76, 177, 202, 0.2)

  100%
    -webkit-box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)
    -moz-box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)
    box-shadow: 0 0 0 6px rgba(76, 177, 202, 0.4)

@-moz-keyframes spin
  0%
    -moz-transform: rotate(0deg)

  100%
    -moz-transform: rotate(359deg)


@-webkit-keyframes spin
  0%
    -webkit-transform: rotate(0deg)

  100%
    -webkit-transform: rotate(359deg)


@-o-keyframes spin
  0%
    -o-transform: rotate(0deg)

  100%
    -o-transform: rotate(359deg)


@keyframes spin
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)

  100%
    -webkit-transform: rotate(359deg)
    transform: rotate(359deg)


.callback-toggle
  cursor: pointer
  position: fixed
  z-index: 98
  right: 290px
  bottom: 80px
  display: block
  width: 56px
  height: 56px
  background: $brand
  border-radius: 50%
  box-shadow: 0 0 0 6px rgba(213,99,25,.3)
  -webkit-animation: pulse 1.5s ease-out infinite
  -moz-animation: pulse 1.5s ease-out infinite
  animation: pulse 1.5s ease-out infinite
  @media only screen and (max-width: 1330px)
    right: 80px
  +respond-to(lg)
    right: 40px
  +respond-to(md)
    width: 47px
    height: 47px
    bottom: 16px
    right: 17px


.callback__toggle_icon
  display: block
  position: absolute
  top: 50%
  left: 50%
  width: 32px
  height: 32px
  margin-left: -17px
  margin-top: -17px
  color: #fff
  animation: spin 2s ease-out infinite
  +respond-to(md)
    width: 23px
    height: 23px
    margin-left: -12px
    margin-top: -12px