.page-index__product-list
  margin-top: 47px

.page-index__pagination
  margin-top: 42px

.page-main.page-index
  @extend %content-width
  background-color: #fff
  display: flex
  position: relative
  max-width: 965px
  padding: 0 20px
  &:after
    position: absolute
    right: 0
    bottom: 0
    content: ''
    border-right: 22px solid #e3ebed
    border-top: 20px solid $brand
    border-bottom: 23px solid #e3ebed
    border-left: 23px solid $brand

