.title-panel__inner
  @extend %content-width
  display: flex
  +respond-to(md)
    flex-direction: column
    text-align: center
    align-items: center


.title-panel
  padding: 18px 0 18px 0

.page-title
  text-decoration: none
  color: $brand
  display: flex
  font-size: 18px
  align-items: center
  flex-shrink: 0
  font-weight: bold
  text-transform: uppercase
  &:after
    content: ''
    width: 2px
    background-color: $brand
    height: 100%
    margin-left: 35px
    margin-right: 35px
    display: block
    +respond-to(md)
      display: none
  +respond-to(md)
    font-size: 16px

.title-panel__descr
  color: #84a0aa
  font-size: 18px
  font-weight: 400
  text-transform: uppercase
  +respond-to(md)
    font-size: 14px
    margin-top: 10px
