@mixin respond-to($media)
	@if $media == sm
		@media only screen and (max-width: $b-small)
			@content
	
	@else if $media == md
		@media only screen and (max-width: $b-medium)
			@content
	
	@else if $media == lg
		@media only screen and (max-width: $b-large)
			@content
	
	@else if $media == dk
		@media only screen and (max-width: $b-desktop)
			@content
	
	@else if $media == xlg
		@media only screen and (max-width: $xlarge)
			@content

	@else if $media == xxlg
		@media only screen and (max-width: $xxlarge)
			@content

@mixin min-respond-to($media)
  @if $media == sm
    @media only screen and (min-width: $small)
      @content

  @else if $media == md
    @media only screen and (min-width: $medium)
      @content

  @else if $media == lg
    @media only screen and (min-width: $large)
      @content

  @else if $media == dk
    @media only screen and (min-width: $desktop)
      @content

  @else if $media == xlg
    @media only screen and (min-width: $xlarge)
      @content
			
@mixin range-respond-to($media)
	@if $media == sm
		@media only screen and (max-width: $b-small)
			@content
	
	@else if $media == md
		@media only screen and (min-width: $small) and (max-width: $b-medium)
			@content
	
	@else if $media == lg
		@media only screen and (min-width: $medium) and (max-width: $b-large)
			@content
	
	@else if $media == xlg
		@media only screen and (min-width: $large) and (max-width: $xlarge)
			@content
	
	@else if $media == exlg
		@media only screen and (min-width: $xlarge)
			@content

=trans($val: null)
    @if ($val)
      transition: $val 0.2s ease 0s
    @else
      transition: all 0.2s ease 0s

=pos($var)
	@if $var == tm
		+transform(translateY(-50%))
		top: 50%
	@if $var == lm
		+transform(translateX(-50%))
		left: 50%
	@if $var == m
		+transform(translate3d(-50%, -50%, 0))
		top: 50%
		left: 50%

=phc($color)
	&::-webkit-input-placeholder
		color: $color !important
		opacity: 1 !important
	&::-moz-placeholder
		color: $color !important
		opacity: 1 !important
	&:-moz-placeholder
		color: $color !important
		opacity: 1 !important
	&:-ms-input-placeholder
		color: $color !important
		opacity: 1 !important

=fluid-columns($columns, $spaces, $mb)
	display: flex
	flex-wrap: wrap
	flex-direction: row
	margin-right: calc(#{$spaces} / 2 * (-1))
	margin-left: calc(#{$spaces} / 2 * (-1))
	position: relative
	margin-top: -$mb
	justify-content: center
	& > div
		box-sizing: border-box
		padding-top: $mb
		width: calc(1 / #{$columns} * 100%)
		padding-left: calc(#{$spaces} / 2)
		padding-right: calc(#{$spaces} / 2)

=chevron($size, $border-size, $direction, $color)
	z-index: 1
	content: ''
	display: inline-block
	width: $size
	height: $size
	background: transparent
	@if $direction == t
		border: transparent
		border-top: $border-size solid $color
		border-left: $border-size solid $color
	@else if $direction == r
		border: transparent
		border-top: $border-size solid $color
		border-right: $border-size solid $color
	@else if $direction == b
		border: transparent
		border-bottom: $border-size solid $color
		border-right: $border-size solid $color
	@else if $direction == l
		border: transparent
		border-bottom: $border-size solid $color
		border-left: $border-size solid $color

@import '_retina_sprites'
