.logo__txt
  color: #f02b63
  font-size: 15px
  font-weight: 400
  letter-spacing: -0.07px
  padding-left: -2px

.logo__pic
  width: 226px
  height: 46px

.logo
  display: block
  text-decoration: none