<div class="menu-wrapper">
    <div class="menu-overlay" id="menu-overlay"></div>
    <div class="menu" id="menu">
        <div class="menu__outer">
            <svg class="icon-close" id="icon-close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12.471" height="12.471" viewBox="0 0 12.471 12.471"><defs><path d="M5 5l9.642 9.642" id="a"/><path d="M14.642 5L5 14.642" id="b"/></defs><g transform="translate(-3.586 -3.586)"><use xlink:href="#a" stroke-miterlimit="50" width="100%" height="100%" fill="#fff" fill-opacity="0" stroke="#fff" stroke-width="2" stroke-linecap="square"/><g><use xlink:href="#b" stroke-miterlimit="50" width="100%" height="100%" fill="#fff" fill-opacity="0" stroke="#fff" stroke-width="2" stroke-linecap="square"/></g></g></svg>
            <div class="menu__inner">
                <div class="menu__list">
                    <div class="menu__item">
                        <a href="#" class="menu__link js-scrollScreen">Products</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link js-scrollScreen">ideas</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link js-scrollScreen">Brands</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link js-scrollScreen">Gifts</a>
                    </div>
                    <div class="menu__item">
                        <a href="#" class="menu__link js-scrollScreen">Stores</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>