.menu
  position: fixed
  z-index: 9999
  top: 0
  height: 100%
  bottom: 0
  left: -415px
  width: 100%
  max-width: 415px
  overflow-x: hidden
  -webkit-overflow-scrolling: touch
  background-color: $brand
  transition: transform 0.5s ease 0s
  display: flex
  &.menu--active
    transform: translateX(415px)

@media (max-width: 959px) and (orientation: landscape)
  .menu
    &.menu--active
      width: 100%
      right: 0
      max-width: 100%
  .menu__inner
    max-width: 100%
  .menu__list
    column-count: 2
  .menu__btn
    max-width: 260px
    margin-top: 15px
  .icon-close
    top: 15px
    right: 15px

.menu__outer
  display: flex
  width: 100%
  height: 100%
  position: relative

.icon-close
  position: absolute
  top: 15px
  right: 15px
  color: #fff
  width: 24px
  height: 24px
  cursor: pointer
  z-index: 300

.menu__inner
  height: 100%
  padding: 100px 20px 100px 20px
  width: 100%
  margin-left: auto
  margin-right: auto
  max-width: 295px
  display: flex
  position: relative
  flex-direction: column
  justify-content: space-between
  +respond-to(lg)
    padding: 70px 20px 70px 20px

.menu__item
  &:not(:last-child)
    margin-bottom: 18px


.menu__link
  color: #ffffff
  font-size: 26px
  font-weight: 700
  line-height: 1.2em
  display: inline-block
  text-transform: uppercase
  text-decoration: none
  position: relative
  transition: opacity 0.2s ease 0s
  &:before
    content: ''
    height: 5px
    background-color: $blue
    position: absolute
    left: -5px
    right: -5px
    top: 50%
    opacity: 0
    transform: translateY(-50%)
  +respond-to(lg)
    font-size: 22px

.btn--third.menu__btn
  &:hover
    background-color: $brand
    color: #fff
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3)
    border-color: $brand

.menu-overlay
  position: fixed
  z-index: 9001
  display: none
  overflow-y: auto
  margin: 0
  padding: 0
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0,0,0,0.5)

