.product-filter__item-title
  padding: 5px 25px 5px 15px
  display: flex
  box-shadow: 0 1px 0 #dcdcdc
  background-color: #f9f9f9
  text-decoration: none
  position: relative
  color: #8c8c8c
  font-size: 18px
  font-weight: 400
  p
    color: $brand2
    padding-left: 5px
  &:after
    content: ''
    position: absolute
    right: 10px
    top: 50%
    transform: translateY(-50%)
    border-right: 5px solid transparent
    border-top: 10px solid #e3ebed
    border-bottom: 0px solid transparent
    border-left: 5px solid transparent

.product-filter__item-dropdown
  display: none
  padding: 10px

.product-filter__item
  &:not(:last-child)
    margin-bottom: 15px