.product-card__pic
  width: auto
  height: 100px
  object-fit: cover

.product-card__img
  display: flex
  align-items: center
  justify-content: center
  position: relative
  height: 130px
  background-color: #fcfcfc

.product-card
  display: block
  box-shadow: 0 1px 0 #dcdcdc
  border: 1px solid #f6f6f6
  text-decoration: none
  position: relative
  +trans(box-shadow)
  &:hover
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22)
  +respond-to(sm)
    margin: 0 auto
    max-width: 265px
    width: 100%
.product-card__link
  position: absolute
  z-index: 2
  top: 0
  left: 0
  right: 0
  bottom: 0

.product-card__caption
  background-color: #e8e8e8
  display: flex
  padding: 8px 10px 4px 10px

.product-card__price
  color: #818181
  font-size: 14px
  font-weight: 400
  margin-left: auto

.product-card__label
  width: 54px
  height: 54px
  color: #fff
  font-size: 19px
  font-weight: bold
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  border-radius: 100%
  &.product-card__label--hight
    background-color: $green
    left: 0
    bottom: 0
  &.product-card__label--mid
    background-color: $pink
    left: 0
    bottom: 20px
  &.product-card__label--low
    background-color: $brand
    right: 0
    top: 0