.product-list__list
  display: flex
  flex-wrap: wrap
  margin-left: -20px
  margin-top: -20px

.product-list__col
  width: 33.3333%
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding-left: 20px
  padding-top: 20px
  +respond-to(lg)
    width: 50%
  +respond-to(sm)
    width: 100%


.product-list__title + .product-list__inner
  margin-top: 45px
