<div class="product-card">
    <a href="#" class="product-card__link"></a>
    <div class="product-card__img">
        <img class="product-card__pic" src="{{ img }}" alt="">
        {% if discount %}
            <span class="product-card__label {{ discountKind }}">
                {{ discount }}
            </span>
        {% endif %}
    </div>
    <div class="product-card__caption">
        <p class="product-card__title">{{ title }}</p>
        <p class="product-card__price">${{ price }}</p>
    </div>
</div>