.logo-panel__inner
  @extend %content-width
  display: flex
  justify-content: space-between
  +respond-to(md)
    flex-direction: column
    align-items: center

.logo-panel
  padding: 68px 0 65px 0
  +respond-to(md)
    padding: 20px 0 25px 0

.logo-panel__soc
  display: flex
  padding-top: 15px
  margin-right: -35px
  +respond-to(lg)
    margin-right: 0

.logo-panel__soc-pic
  width: 100%
  height: 100%
  object-fit: cover
  filter: alpha(Opacity=30)
  opacity: 0.3
  +trans()
  &:hover
    filter: alpha(Opacity=100)
    opacity: 1

.logo-panel__soc-item
  width: 49px
  height: 49px
  &:not(:last-child)
    margin-right: 15px
  +respond-to(md)
    width: 35px
    height: 35px