<div class="logo-panel">
    <div class="logo-panel__inner">
        {% include "../../components/logo/logo.twig" with {"classes": "logo-panel__logo"} %}
        <div class="logo-panel__soc">
            <a href="#" class="logo-panel__soc-item">
                <img class="logo-panel__soc-pic" src="images/social/rss.png" alt="">
            </a>
            <a href="#" class="logo-panel__soc-item">
                <img class="logo-panel__soc-pic" src="images/social/twitter.png" alt="">
            </a>
            <a href="#" class="logo-panel__soc-item">
                <img class="logo-panel__soc-pic" src="images/social/facebook.png" alt="">
            </a>
            <a href="#" class="logo-panel__soc-item">
                <img class="logo-panel__soc-pic" src="images/social/stumbleupon.png" alt="">
            </a>
            <a href="#" class="logo-panel__soc-item">
                <img class="logo-panel__soc-pic" src="images/social/myspace.png" alt="">
            </a>
        </div>
    </div>
</div>