//Base
%content-width
  max-width: 935px
  width: auto
  box-sizing: content-box
  margin-left: auto
  margin-right: auto
  padding: 0 35px
  +respond-to(md)
    padding-left: 20px
    padding-right: 20px


html
  -webkit-text-size-adjust: 100%

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box


a, img, button
  outline: none !important


body
  @extend %font-base
  font-weight: 400
  color: $text-primary
  &.body--fix
    position: fixed

.is-hidden
  display: none !important

.site-wrapper
  background-color: #e3ebed
  min-width: 300px
  overflow-x: hidden
  overflow-y: auto !important
  display: flex
  position: relative
  flex-direction: column

.title
  color: $green
  font-size: 18px
  font-weight: bold
  text-transform: uppercase

a:focus, a:active,
button,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner
  outline: none !important


html
  -webkit-text-size-adjust: 100%
  &.modal-page
    overflow: hidden
    body
      overflow: hidden
    .site-wrapper
      overflow-y: hidden !important

.page-main
  flex-grow: 1
  padding-top: 155px
  +respond-to(dk)
      padding-top: 90px
  +respond-to(lg)
      padding-top: 70px
  +respond-to(md)
    padding-top: 60px

.page-sidebar__item
  &:not(:last-child)
    margin-bottom: 59px

.page-sidebar__inner
  padding-top: 24px
  padding-left: 43px

.page-sidebar
  position: relative
  +respond-to(lg)
    display: none
  &:before
    position: absolute
    left: 0
    content: ''
    border-right: 13px solid transparent
    border-top: 13px solid #e3ebed
    border-bottom: 0px solid transparent
    border-left: 13px solid transparent
  &:after
    content: ''
    position: absolute
    left: 12px
    bottom: 0
    height: calc(100% - 14px)
    border-left: 2px dashed #e8e8e8

.page-sidebar__title + .page-sidebar-item__contain
  margin-top: 20px

.page-content
  width: 69%
  padding-bottom: 42px
  padding-top: 35px
  padding-right: 28px
  +respond-to(lg)
    width: 100%
    padding-right: 0



@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
  .page-main.page-index
    width: 100% !important


.page-sidebar
  width: 31%

