//Viewports
$small: 480px
$medium: 768px
$large: 960px
$desktop: 1024px
$xlarge: 1220px
$xxlarge: 1330px

$b-small: 479px
$b-medium: 767px
$b-large: 959px
$b-xlarge: 1219px
$b-desktop: 1023px

//Colors
$black: #263238
$black2: #192440

$logoColor: #8ba4b0

$blue: #4cb1ca
$pink: #f02b63
$green: #7db122

$brand: $blue
$brand2: $pink
$text-primary: $black

//_______________________________________________________

%font-base
  font-family: 'Calibri', sans-serif

%font-sub
  font-family: 'Calibri-Bold', sans-serif


@-webkit-keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

@-moz-keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

@-ms-keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

@-webkit-keyframes hvr-icon-hang
  0%
    -webkit-transform: translateY(10px)
    transform: translateY(10px)

  50%
    -webkit-transform: translateY(2px)
    transform: translateY(2px)

  100%
    -webkit-transform: translateY(10px)
    transform: translateY(10px)

@keyframes hvr-icon-hang
  0%
    -webkit-transform: translateY(10px)
    transform: translateY(10px)

  50%
    -webkit-transform: translateY(2px)
    transform: translateY(2px)

  100%
    -webkit-transform: translateY(10px)
    transform: translateY(10px)



$hamburger-padding-x                       : 15px
$hamburger-padding-y                       : 5px
$hamburger-layer-width                     : 30px
$hamburger-layer-height                    : 2px
$hamburger-layer-spacing                   : 6px
$hamburger-layer-color                     : #000
$hamburger-layer-border-radius             : 4px
$hamburger-hover-opacity                   : 0.7
$hamburger-hover-transition-duration       : 0.15s
$hamburger-hover-transition-timing-function: linear

$hamburger-hover-use-filter: false
$hamburger-hover-filter    : opacity(50%)

