=font($alias, $name)
	@font-face
		font-family: $alias
		src: url("../fonts/" + $name + ".woff") format("woff"), url("../fonts/" + $name + ".woff2") format("woff2")
		font-weight: normal
		font-style: normal


+font("Calibri", "Calibri")
+font("Calibri-Bold", "Calibri-Bold")
