<div class="header-top">
    <div class="header-top__inner">
        <p class="header-top__txt">
            <a href="javascript:" class="header-top__modal js-modal1">modal1</a>
            <a href="javascript:" class="header-top__modal js-modal2">modal2</a>
            <a href="javascript:" class="header-top__modal js-modal3">modal3</a>
        </p>
        <div class="header-top__nav">
            <a href="#" class="header-top__nav-item">My account</a>
            <a href="#" class="header-top__nav-item">Wishlist</a>
            <a href="#" class="header-top__nav-item">Contact</a>
        </div>
    </div>
</div>