.header-top__inner
  @extend %content-width
  display: flex
  justify-content: space-between
  background-color: #fff
  padding-top: 16px
  padding-bottom: 16px
  +respond-to(md)
    justify-content: center
    flex-direction: column-reverse
    align-items: center


.header-top__modal
  color: #1d1d1d
  text-decoration: none
  font-size: 14px
  font-weight: bold
  text-transform: uppercase
  +trans(color)
  &:not(:last-child)
    margin-right: 10px
  &:hover
    color: $brand

.header-top
  min-height: 47px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

.header-top__txt
  color: #ababab
  font-size: 14px
  font-weight: 400
  +respond-to(md)
    margin-top: 20px

.header-top__nav-item
  color: #ababab
  font-size: 14px
  font-weight: 400
  text-transform: uppercase
  text-decoration: none
  +trans(color)
  &:hover
    color: #4cb1ca
  &:not(:last-child)
    margin-right: 28px