.payment-options__list
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-top: -9px

.payment-options__item
  line-height: 0
  font-size: 0
  display: block
  margin-top: 9px
  position: relative


.payment-options__item-pic
  width: 100%
  height: auto
  filter: alpha(Opacity=30)
  opacity: 0.3
  +trans()
  &:hover
    filter: alpha(Opacity=100)
    opacity: 1
