.header-navbar__inner
  @extend %content-width
  background-color: #fff
  padding-top: 13px
  padding-bottom: 17px
  display: flex
  align-items: center
  border-bottom: 6px solid $brand2
  +respond-to(md)
    border-bottom: none
    padding-bottom: 9px
    padding-top: 9px

.header-navbar
  position: relative

.header-navbar__cart-title
  display: flex
  align-items: flex-end
  position: relative

.header-navbar__nav-list
  display: flex
  align-items: baseline
  justify-content: space-between

.header-navbar-dummy
  height: 48px
  width: 100% //wdw

.header-navbar
  &.header-navbar--stucked
    position: fixed
    width: 100%
    top: 0
    z-index: 200
    .header-navbar__inner
      box-shadow: 0 -3px 20px rgba(152,154,171,.3)

.header-navbar__nav-item
  position: relative
  &:not(:last-child)
    margin-right: 15px
  &.header-navbar__nav-item--active
    .header-navbar__nav-link
      color: $brand2
    &:before
      left: 42%
      transform: translateX(-50%)
      bottom: -17px
      content: ''
      position: absolute
      border-right: 8px solid transparent
      border-top: 0 solid transparent
      border-bottom: 7px solid #f02b63
      border-left: 8px solid transparent
      +respond-to(md)
        display: none

.header-navbar__nav-link
  color: #1d1d1d
  font-size: 18px
  font-weight: bold
  text-transform: uppercase
  text-decoration: none
  +trans(color)
  &:hover
    color: $brand2

.header-navbar__nav
  width: 100%
  max-width: 595px

.header-navbar__burger-pic
  width: 30px
  height: 30px

.header-navbar__cart
  margin-left: auto
  flex-shrink: 0
  padding-left: 20px

.header-navbar__list
  display: flex
  justify-content: space-between
  +respond-to(md)
    display: none
    position: absolute
    top: 100%
    background-color: #fff
    width: 100%
    left: 0
    padding: 20px
    border-bottom: 1px solid $brand2
    z-index: 10
  +min-respond-to(md)
    display: flex !important

.header-navbar__burger
  display: none
  cursor: pointer
  line-height: 0
  font-size: 0
  +respond-to(md)
    display: block