<div class="header-navbar-dummy" id="header-navbar-dummy">
<div class="header-navbar" id="header-navbar">
    <div class="header-navbar__inner">
        <div class="header-navbar__nav">
            <div class="header-navbar__burger" id="burger">
                <svg class="header-navbar__burger-pic" height="91" viewBox="0 0 91 91" width="91" xmlns="http://www.w3.org/2000/svg"><path d="M27.371 16.328l-3.116 9.625a.838.838 0 0 0 1.593.517l3.544-10.954c4.929-1.854 10.421-2.907 16.161-2.907.313 0 .622.025.933.031L42.85 25.991a.84.84 0 0 0 .808 1.058c.37 0 .707-.246.808-.616l3.741-13.738c6.067.34 11.797 1.832 16.779 4.209l-3.109 9.033a.836.836 0 1 0 1.583.547l3.038-8.823c7.208 3.82 12.649 9.548 14.889 16.335H9.715c2.517-7.631 9.077-13.928 17.656-17.668z" fill="#F9BA8F"/><path d="M71.617 69.37l-.033 1.076c.004.04.082 2.458-1.703 4.321-1.314 1.371-3.25 2.067-5.753 2.067-7.175 0-7.516-6.317-7.52-6.381v-.607c-.027-.18-.419-2.582-3.671-2.582-2.951 0-3.249 2.559-3.261 2.668l.004 1.1c-.168 1.65-1.503 4.613-5.378 4.613-4.234 0-5.422-3.064-5.459-4.688v-1.39c0-2.689-2.763-2.826-3.318-2.826H9.426v8.295a4.72 4.72 0 0 0 4.715 4.716H76.96c2.6 0 4.717-2.114 4.717-4.716v-8.038h-7.133c-2.69.001-2.919 2.273-2.927 2.372z" fill="#DEB198"/><path d="M9.426 59.513v5.555H35.49c.371 0 1.516.045 2.635.579 1.093.521 2.395 1.626 2.395 3.922v1.373c.01.288.212 3.03 3.783 3.03 3.354 0 3.696-2.904 3.71-3.027l-.006-1.098c.153-1.531 1.375-4.259 4.931-4.259 3.872 0 5.188 2.728 5.342 4.169l.004.665c.008.154.302 4.735 5.845 4.735 2.02 0 3.543-.516 4.53-1.534 1.295-1.338 1.252-3.154 1.25-3.171l.037-1.185c.12-1.394 1.233-3.943 4.599-3.943h7.133v-5.812H9.426z" fill="#FAE58F"/><path d="M83.762 50.372H7.343a4.064 4.064 0 0 1-4.062-4.058 4.068 4.068 0 0 1 4.062-4.064h76.419a4.068 4.068 0 0 1 4.06 4.064 4.064 4.064 0 0 1-4.06 4.058z" fill="#F16A6D"/><g fill="#434B56"><path d="M82.518 36.964H8.589a2.26 2.26 0 0 1-2.179-2.866c3.959-14.322 20.423-24.72 39.145-24.72 18.72 0 35.181 10.397 39.142 24.721a2.26 2.26 0 0 1-2.179 2.865zm-70.735-4.522h67.541c-4.734-10.901-18.36-18.541-33.769-18.541-15.41 0-29.042 7.64-33.772 18.541zM76.96 82.722H14.144c-4.311 0-7.816-3.506-7.816-7.816v-9.132a2.261 2.261 0 0 1 2.261-2.26h26.899c3.13 0 6.456 1.854 6.456 5.924v1.373c.051.68.502 1.605 2.361 1.605 1.848 0 2.21-1.235 2.28-1.66v-1.039c0-.079.004-.155.012-.234.226-2.19 2.104-5.449 6.343-5.449 4.885 0 6.556 3.561 6.757 5.441.01.081.014.159.014.242v.496c.068.853.6 3.391 4.418 3.391 1.629 0 2.812-.375 3.518-1.112.841-.876.843-2.094.843-2.105a2.38 2.38 0 0 1 0-.169l.036-1.126c.002-.04.004-.081.008-.125.183-2.087 1.936-5.196 6.014-5.196h7.972a2.26 2.26 0 0 1 2.26 2.262v8.874c-.003 4.309-3.509 7.815-7.82 7.815zM10.85 68.034v6.871a3.298 3.298 0 0 0 3.294 3.294H76.96a3.3 3.3 0 0 0 3.296-3.294v-6.612h-5.71c-1.219 0-1.46.681-1.504 1.021l-.03.989c.005.623-.095 3.225-2.1 5.319-1.594 1.661-3.876 2.503-6.784 2.503-6.325 0-8.813-4.63-8.939-7.744l-.002-.489c-.106-.501-.558-1.338-2.247-1.338-1.455 0-1.767.908-1.832 1.306v1.041c0 .078-.004.158-.012.236-.211 2.006-1.901 5.802-6.791 5.802-4.949 0-6.829-3.636-6.883-6.078v-1.424c0-.931-.637-1.403-1.895-1.403H10.85z"/><path d="M25.053 28.343a2.262 2.262 0 0 1-2.152-2.958l3.677-11.364a2.263 2.263 0 0 1 4.304 1.392l-3.677 11.364a2.264 2.264 0 0 1-2.152 1.566zM43.66 28.343a2.266 2.266 0 0 1-2.183-2.857l3.932-14.44a2.263 2.263 0 0 1 4.365 1.188l-3.934 14.44a2.262 2.262 0 0 1-2.18 1.669zM62.67 28.343a2.262 2.262 0 0 1-2.138-3l3.381-9.819a2.263 2.263 0 0 1 4.277 1.473l-3.381 9.818a2.265 2.265 0 0 1-2.139 1.528zM82.518 60.806H8.589a2.262 2.262 0 0 1 0-4.524h73.929c1.25 0 2.26 1.013 2.26 2.262s-1.01 2.262-2.26 2.262zM83.764 53.341H7.343c-3.948 0-7.16-3.209-7.16-7.157 0-3.949 3.211-7.165 7.16-7.165h76.421c3.946 0 7.158 3.215 7.158 7.165 0 3.948-3.212 7.157-7.158 7.157zM7.343 43.543a2.642 2.642 0 0 0-2.638 2.64 2.64 2.64 0 0 0 2.638 2.636h76.421a2.64 2.64 0 0 0 0-5.276H7.343z"/></g></svg>
            </div>
            <ul class="header-navbar__list" id="header-navbar-list">
                <li class="header-navbar__nav-item header-navbar__nav-item--active">
                    <a href="#" class="header-navbar__nav-link">products</a>
                </li>
                <li class="header-navbar__nav-item">
                    <a href="#" class="header-navbar__nav-link">ideas</a>
                </li>
                <li class="header-navbar__nav-item">
                    <a href="#" class="header-navbar__nav-link">Brands</a>
                </li>
                <li class="header-navbar__nav-item">
                    <a href="#" class="header-navbar__nav-link">Gifts</a>
                </li>
                <li class="header-navbar__nav-item">
                    <a href="#" class="header-navbar__nav-link">Stores</a>
                </li>
            </ul>
        </div>
        <div class="cart header-navbar__cart">
            <div class="header-navbar__cart-title">
                <p class="cart__txt">Shopping cart:</p>
                <p class="cart__count">3 items</p>
                <p class="cart__price">70$</p>
                <i class="cart-drp"></i>
            </div>
        </div>
    </div>
</div>
</div>