{% extends "layouts/app.twig" %}

{% block header %}
    {% include "../components/header-top/header-top.twig" with {"page": "index"} %}
    {% include "../components/logo-panel/logo-panel.twig" with {"page": "index"} %}
    {% include "../components/header-navbar/header-navbar.twig" with {"page": "index"} %}
    <div class="title-panel">
        <div class="title-panel__inner">
            <h1 class="page-title">Page Title</h1>
            <p class="title-panel__descr">Page description The quick, brown fox jumps over a lazy dog.</p>
        </div>
    </div>
{% endblock %}

{% block pageTitle %}Продвижение и раскрутка сайта в Москве - Sellmore{% endblock %}
{% block pagesDescription %}Поисковое продвижение и раскрутка сайта в Москве в агентстве Sellmore{% endblock %}

{% block content %}

    <main class="page-main page-index">
        <div class="page-content">
            <div class="banner page-index__banner">
                <a href="#" class="banner__link"></a>
                <img class="banner__pic" src="images/banner.jpg" alt="main-banner">
            </div>
            <div class="product-list page-index__product-list">
                <h3 class="title product-list__title">Featured products</h3>
                <div class="product-list__inner">
                    <div class="product-list__list">
                        <div class="product-list__col">
                            {% include "../components/product/product-card.twig" with {
                                "discountKind": "product-card__label--hight",
                                "title": "Pure Slim Xe",
                                "img": "images/products/1.png",
                                "discount": "-50%",
                                "price": "40"
                            } %}
                        </div>
                        <div class="product-list__col">
                            {% include "../components/product/product-card.twig" with {
                                "discountKind": "product-card__label--mid",
                                "title": "Pure Slim Xe",
                                "img": "images/products/2.png",
                                "discount": "-35%",
                                "price": "20"
                            } %}
                        </div>
                        <div class="product-list__col">
                            {% include "../components/product/product-card.twig" with {
                                "discountKind": "product-card__label--low",
                                "title": "Pure Slim Xe",
                                "img": "images/products/3.png",
                                "discount": "-20%",
                                "price": "60"
                            } %}
                        </div>
                        <div class="product-list__col">
                            {% include "../components/product/product-card.twig" with {
                                "title": "Pure Slim Xe",
                                "img": "images/products/4.png",
                                "price": "80"
                            } %}
                        </div>
                        <div class="product-list__col">
                            {% include "../components/product/product-card.twig" with {
                                "title": "Pure Slim Xe",
                                "img": "images/products/5.png",
                                "price": "80"
                            } %}
                        </div>
                        <div class="product-list__col">
                            {% include "../components/product/product-card.twig" with {
                                "title": "Pure Slim Xe",
                                "img": "images/products/6.png",
                                "price": "80"
                            } %}
                        </div>
                        {% for 1 in 1..3 %}
                            <div class="product-list__col">
                                {% include "../components/product/product-card.twig" with {
                                    "title": "Pure Slim Xe",
                                    "img": "images/products/7.png",
                                    "price": "80"
                                } %}
                            </div>
                            <div class="product-list__col">
                                {% include "../components/product/product-card.twig" with {
                                    "title": "Pure Slim Xe",
                                    "img": "images/products/8.png",
                                    "price": "80"
                                } %}
                            </div>
                            <div class="product-list__col">
                                {% include "../components/product/product-card.twig" with {
                                    "title": "Pure Slim Xe",
                                    "img": "images/products/9.png",
                                    "price": "80"
                                } %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% include "../components/pagination/pagination.twig" with {
                "outerClass": "page-index__pagination"
            } %}
        </div>
        <div class="page-sidebar">
            <div class="page-sidebar__inner">
                <div class="product-filter page-sidebar__item">
                    <p class="page-sidebar__title title">Sort products</p>
                    <div class="page-sidebar-item__contain">
                        {% for 1 in 1..4 %}
                            <div class="product-filter__item">
                                <a href="javascript:" class="product-filter__item-title">
                                    Sort by <p>price</p>
                                </a>
                                <div class="product-filter__item-dropdown">
                                    <p>Lorem ipsum dolor sit amet, consectetur w.</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="product-popular page-sidebar__item">
                    <p class="page-sidebar__title title">Best Sellers</p>
                    <div class="page-sidebar-item__contain">
                        {% include "../components/product-popular-item/product-popular-item.twig" with {
                            "img": "images/popular1.png",
                            "title": "popular-title1",
                            "descr": "Lorem ipsum dolor sit amet.",
                            "price": "200",
                            "country": "us"
                        } %}
                        {% include "../components/product-popular-item/product-popular-item.twig" with {
                            "img": "images/popular2.png",
                            "title": "popular-title1",
                            "descr": "Lorem ipsum dolor sit amet.",
                            "price": "200",
                            "country": "ua"
                        } %}
                        {% include "../components/product-popular-item/product-popular-item.twig" with {
                            "img": "images/popular1.png",
                            "title": "popular-title2",
                            "descr": "Lorem ipsum dolor sit amet.",
                            "price": "120",
                            "country": "en"
                        } %}
                        {% include "../components/product-popular-item/product-popular-item.twig" with {
                            "img": "images/popular2.png",
                            "title": "popular-title3",
                            "descr": "Lorem ipsum dolor sit amet.",
                            "price": "20",
                            "country": "ru"
                        } %}
                    </div>
                </div>
                <div class="page-sidebar__item payment-options">
                    <p class="page-sidebar__title title">Payment options</p>
                    <div class="page-sidebar-item__contain">
                        <div class="payment-options__list">
                            <a href="#" class="payment-options__item">
                                <img class="payment-options__item-pic" src="images/paypal.png" alt="">
                            </a>
                            <a href="#" class="payment-options__item">
                                <img class="payment-options__item-pic" src="images/visa.png" alt="">
                            </a>
                            <a href="#" class="payment-options__item">
                                <img class="payment-options__item-pic" src="images/wirecard.png" alt="">
                            </a>
                            <a href="#" class="payment-options__item">
                                <img class="payment-options__item-pic" src="images/mastercard.png" alt="">
                            </a>
                            <a href="#" class="payment-options__item">
                                <img class="payment-options__item-pic" src="images/maestro.png" alt="">
                            </a>
                            <a href="#" class="payment-options__item">
                                <img class="payment-options__item-pic" src="images/cash.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <span class="callback"></span>
    {% include "../components/modal/modal.twig" %}
    {% include "../components/mobile-menu/mobile-menu.twig" %}
{% endblock %}

{% block footer %}
    {% include "../components/footer/footer.twig"%}
{% endblock %}