<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block pageTitle %}{% endblock %}</title>
    <link rel="apple-touch-icon" href="images/favicon/fav128x128.png" sizes="128x128">
    <link rel="apple-touch-icon" href="images/favicon/fav64x64.png" sizes="64x64">
    <link rel="apple-touch-icon" href="images/favicon/fav48x48.png" sizes="48x48">
    <link rel="apple-touch-icon" href="images/favicon/fav32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="images/favicon/fav16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicon/fav128x128.png" sizes="128x128">
    <link rel="icon" type="image/png" href="images/favicon/fav64x64.png" sizes="64x64">
    <link rel="icon" type="image/png" href="images/favicon/fav48x48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="images/favicon/fav32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon/fav16x16.png" sizes="16x16">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="{% block pagesDescription %}{% endblock %}">
    <!-- Stylesheets -->
    {% include "stylesheets.twig" %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VFLM7R"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="site-wrapper" id="site-wrapper">
    <!-- Header block -->
    <header class="page-header" id="page-header">
        {% block header %}{% endblock %}
    </header>
    <!-- Header block end -->

    <!-- Block content -->
    {% block content %}{% endblock %}
    <!-- Block content end -->

    <!-- Footer block -->
    {% block footer %}{% endblock %}
    <!-- Footer block end -->

    <!-- Scripts -->
</div>
{% include "scripts.twig" %}
</body>
</html>