<!--build:js js/vendor.js-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/lodash/lodash.min.js"></script>
<script src="bower_components/machina/lib/machina.min.js"></script>
<!--bower:js-->
<!--endbower-->
<!--endbuild-->
<script async defer src='https://www.google.com/recaptcha/api.js'></script>

<!--build:js js/common.js-->
<script src="js/es5/app.js"></script>
<!--endbuild-->
